<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  backupGlobals="true"
  backupStaticAttributes="false"
  bootstrap="./vendor/autoload.php"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  forceCoversAnnotation="false"
  processIsolation="false"
  stopOnError="false"
  stopOnFailure="true"
  stopOnIncomplete="false"
  stopOnSkipped="false"
  testSuiteLoaderFile="./vendor/phpunit/phpunit/src/Runner/StandardTestSuiteLoader.php"
  timeoutForSmallTests="1"
  timeoutForMediumTests="10"
  timeoutForLargeTests="60"
  verbose="false"
>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./lib</directory>
    </include>
    <exclude>
      <directory suffix=".php">./vendor/</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="GNREPHP">
      <directory suffix="Test.php">./testes</directory>
    </testsuite>
  </testsuites>
</phpunit>
